.field:not(:last-child){
  margin-bottom: 0;
}

.field{
  position: relative;
  // height: 48px;
  // padding: 16px 0 8px 0;
}

.field-label{
  position: relative;
  text-align: left;
  line-height: 32px;
  font-size: 1em;
  display: block;
  margin: 0;
  transform: translateY(35px);
  transition: transform 0.3s, font-size 0.3s;
  transform-origin: 0 50%;
}

.field-input{
  position: relative;
  background-color: transparent;
  line-height: 20px;
  font-size: 1em;
  max-height: 150px;
  min-height: 32px;
  height: 32px;
  border: none;
  padding: 7px 0;
  -webkit-webkit-apperanc: none;
  -moz-webkit-apperanc: none;
  -ms-webkit-apperanc: none;
  -o-webkit-apperanc: none;
  webkit-apperanc: none;
  display: block;
  width: 100%;
  outline-color: none;
  overflow-x: hidden;
}

// .field ajoute une line sous l'input avec du css (grafikart)
// Aletrnative ajouter la class line sous l'input (règle les problème lié au javascript du text area notamment)
.field:after, .field:before{
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $grey-light;
}

.field:after{
  background-color: $primary;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.field span.icon{
  margin-right: 5px;
}

.field.is-danger .field-label{
  color: $red;
}

.field.is-danger:after{
  background-color: $red;
}

.field.is-focused:after{
  transform: scaleX(1);
}

.is-focused .field-label{
  transform: translateY(0) scale(0.75);
  color: $primary;
}

.has-label .field-label{
  transform: translateY(0) scale(0.75);
}

textarea, textarea:focus, input, input:focus{
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

textarea{
  position: relative;
  display: block;
  width: 100%;
  // height: 100%;
  min-height: 32px;
  font-size: 1em;
  border-bottom: 2px solid $grey-lighter;
}

.line{
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background: $grey-light;
}

.line:after{
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $grey-light;
}

.line:after{
  background-color: $primary;
  transform: scaleX(0);
  transition: transform 0.4s;
}

.is-focused .line:after{
  transform: scaleX(1);
}

.field-title{
  font-weight: 800;
  color: $grey-dark;
  font-size: 1.1em;
}

.field-edit label{
  display: none;
}

.field-edit.is-focused textarea{
  // transition-duration fait foiré le resize du textarea
  color: $primary;
}

.field-edit.is-focused input{
  color: $primary;
}

.control{
  margin-top: 50px;
  text-align: center;
}
