form{
  height: 100%;
}

.field:not(:last-child){
  margin-bottom: 0;
}

.field{
  position: relative;
  // height: 72px;
  // padding: 16px 0 8px 0;
}

.field-label{
  position: relative;
  line-height: 16px;
  font-size: 1em;
  display: block;
  margin: 0;
  transform: translateY(24px);
  transition: transform 0.3s, font-size 0.3s;
  transform-origin: 0 50%;
}

.field-input{
  position: relative;
  background-color: transparent;
  // padding: 0 8px;
  line-height: 16px;
  font-size: 1em;
  height: 32px;
  border: none;
  -webkit-webkit-apperanc: none;
  -moz-webkit-apperanc: none;
  -ms-webkit-apperanc: none;
  -o-webkit-apperanc: none;
  webkit-apperanc: none;
  display: block;
  width: 100%;
  outline-color: none;
}

.field:after, .field:before{
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $grey-light;
}

.field:after{
  background-color: $primary;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.field.is-focused:after{
  transform: scaleX(1);
}

.is-focused .field-label{
  transform: translateY(0) scale(0.75);
  color: $primary;
}

.has-label .field-label{
  transform: translateY(0) scale(0.75);
}

textarea, textarea:focus, input, input:focus{
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.field-textarea{
  position: relative;
}

textarea.field-input{
  padding-top: 7px;
  padding-bottom: 7px;
  box-sizing: border-box;
  max-height: 150px; /* optional, but recommended */
  min-height: 32px;
  overflow-x: hidden; /* for Firefox (issue #5) */
}

.line{
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background: $grey-light;
}

.line:after{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: $primary;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.field-textarea.is-focused .line:after{
  transform: scaleX(1);
}

.field-title{
  font-weight: 800;
  color: $grey-dark;
  font-size: 1.1em;
}
