body {
  position: relative;
  // overflow: hidden;
  height: 100%;
}

header{
  /*position: fixed;
  top: 0;
  left: 0;
  right: 0;*/
  position: relative;
  display: block;
  height: $navbar-height;
  width: 100%;
  overflow: hidden;
  background-color: #FFF;
  /*z-index: 2;*/

  // -webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.17);
  // -moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.17);
  // box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.17);
}

aside{
  height: calc(100vh - #{$navbar-height});
}

// ROUTER-VIEWS
.router-views{
  position: relative;
  z-index: 1;
  height: calc(100vh - #{$navbar-height});
  // overflow: hidden;
}

.site-content,
.menu-is-selected{
  position: relative;
  height: 100%;
  // overflow: hidden;
}

section{
  height: 100%;
  // overflow-x: hidden;
  overflow-y: scroll;
  // -webkit-overflow-scrolling: touch;

  // &:after{
  //   content: '';
  //   display: table;
  //   clear: both;
  // }
}



// NAV LAYOUT
header .logo{
  position: absolute;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

button{
  background: transparent;
  border: none;
}

button:focus{
  outline: none;
}

button:hover{
  cursor: pointer;
}
