body {
  position: relative;
  overflow: hidden;
  // height: 100%;
  height: 100vh;
}

header.main-header{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "start center end";
  height: $navbar-height;
  width: 100%;
  overflow: hidden;
  background-color: #FFF;
  z-index: 3;

  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

aside.main-navigation{
  position: absolute;
  top: $navbar-height;
  right: 0;
  bottom: 0;
  transition-duration: 0.3s;
  z-index: 2;
  height: calc(100vh - #{$navbar-height});
}

// ROUTER-VIEWS
.router-views{
  position: relative;
  height: calc(100vh - #{$navbar-height});
  overflow: hidden;
  transform: translateX(0);
  transition-duration: 0.3s;
}


.menu-is-selected{
  position: relative;
  height: 100%;
  overflow: hidden;
}

section{
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

// HEADER LAYOUT

header .start{
  grid-area: start;
  justify-content: flex-start;
}

header .center{
  grid-area: center;
  justify-content: center;
}

header .end{
  grid-area: end;
  justify-content: flex-end;
}

header .navbar-menu{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  height: $navbar-height;
  padding: 0;
  box-shadow: none;

  .active svg.icons{
    fill: $primary;
  }

  &:after{
    content: '';
    clear: both;
    display: table;
  }

  a{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0 5px;
    width: 45px;
  }

  a.logo{
    width: 90px;
  }

  // button.navbar-button{
  //   font-size: 0.9em;
  //   border-radius: 5px;
  //   letter-spacing: 1px;
  //   max-height: 50px;
  //   height: 80%;
  // }

}

// HEADER NAVABR-MENU ICONS
// .navbar-menu.start svg path{
//   display: none;
// }
//
// .navbar-menu.start svg.pencil{
//   path:nth-child(1){
//     display: block;
//   }
// }

// .navbar-menu.start svg.unlock{
//   path:nth-child(2){
//     display: none;
//   }
// }
//
// .navbar-menu.start svg.lock{
//   path:nth-child(1){
//     display: block;
//   }
// }

.navbar-menu.start .icons .plus,
.navbar-menu.start .icons .lock,
.navbar-menu.start .icons .crossCreate,
.navbar-menu.start .icons .crossEdit{
  display: none;
}

.navbar-menu.start .icons .plus.is-active,
.navbar-menu.start .icons .lock.is-active,
.navbar-menu.start .icons .crossCreate.is-active,
.navbar-menu.start .icons .crossEdit.is-active{
  display: block;
}


// .navbar-menu.start a.is-active svg.unlock{
//   path:nth-child(2){
//     display: block;
//     transition-duration: 0.3s;
//     fill: $primary;
//   }
// }


button{
  background: transparent;
  border: none;
}

button:focus{
  outline: none;
}

button:hover{
  cursor: pointer;
}

// form{
//   position: relative;
//   max-width: 500px;
//   width: 50%;
//   min-width: 300px;
//   .form-text{
//     margin: 0 30px 0 0;
//   }
//   .control{
//     margin: 30px 0 0 0;
//     &:first-child{
//       margin-top: 0;
//     }
//   }
// }


header{
  background-color: $white-bis;
  height: 3em;
}
section{
  position: relative;
  width: 100%;
  // height: calc(100% - 3em);
  height: 100%;
  padding: 5px;
  background-color: $white-bis;
  // Centrer horizontal vertical
  // .section-container{
  //   display: -webkit-flex;
  //   display: -ms-flex;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   height: 100%;
  //   border-radius: 5px;
  //   background-color: $white;
  // }
  //Centrer horizontal
  .section-container{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    background-color: $white;
    height: 100%;
    padding-top: 2em;
    width: 100%;
  }
  .section-contaier-center{
    min-width: 250px;
  }
}

.goBack{
  width: 50px;
}

.myElement {
   width:100px;
   height: 100px;
   border:1px solid blue;
}

.myAnimation-add {
   -webkit-animation: changeBack 3s;
   animation: changeBack 3s;
}

.myAnimation-remove {
   -webkit-animation: fadeIn 3s;
   animation: fadeIn 3s;
}

@-webkit-keyframes changeBack {
   0% { background-color: #e6efff; }
   25% { background-color: #4d91ff; }
   50% { background-color: #0058e6; }
   75% { background-color: #003180; }
   100% { background-color: #000a1a; }
}

@keyframes changeBack {
   0% { background-color: #000a1a; }
   25% { background-color: #003180; }
   50% { background-color: #0058e6; }
   75% { background-color: #4d91ff; }
   100% { background-color: #e6efff; }
}
