body {
  position: relative;
  overflow: hidden;
  // height: 100%;
  height: 100vh;
}
a{
  color: $primary;
}

header.main-header{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "start center end";
  height: $navbar-height;
  width: 100%;
  overflow: hidden;
  background-color: #FFF;
  z-index: 3;

  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

aside.main-navigation{
  position: absolute;
  top: $navbar-height;
  right: 0;
  bottom: 0;
  transition-duration: 0.3s;
  z-index: 2;
  height: calc(100vh - #{$navbar-height});
}

// ROUTER-VIEWS
.router-views{
  position: relative;
  height: calc(100vh - #{$navbar-height});
  overflow: hidden;
  transform: translateX(0);
  transition-duration: 0.3s;
}

section{
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

// HEADER LAYOUT

header .start{
  grid-area: start;
  justify-content: flex-start;
}

header .center{
  grid-area: center;
  justify-content: center;
}

header .end{
  grid-area: end;
  justify-content: flex-end;
}

header .navbar-menu{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  height: $navbar-height;
  padding: 0;
  box-shadow: none;

  .is-active svg.icons path{
    fill: $primary;
  }

  &:after{
    content: '';
    clear: both;
    display: table;
  }

  a{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0 5px;
    width: 45px;
  }

  a.logo{
    width: 90px;
  }

  // button.navbar-button{
  //   font-size: 0.9em;
  //   border-radius: 5px;
  //   letter-spacing: 1px;
  //   max-height: 50px;
  //   height: 80%;
  // }

}

// HEADER NAVABR-MENU ICONS
// .navbar-menu.start svg path{
//   display: none;
// }
//
// .navbar-menu.start svg.pencil{
//   path:nth-child(1){
//     display: block;
//   }
// }

// .navbar-menu.start svg.unlock{
//   path:nth-child(2){
//     display: none;
//   }
// }
//
// .navbar-menu.start svg.lock{
//   path:nth-child(1){
//     display: block;
//   }
// }

.navbar-menu.start .icons path{
  display: none;
}

.navbar-menu.start .icons path.is-active{
  display: block;
}


// .navbar-menu.start a.is-active svg.unlock{
//   path:nth-child(2){
//     display: block;
//     transition-duration: 0.3s;
//     fill: $primary;
//   }
// }


button{
  background: transparent;
  border: none;
}

button:focus{
  outline: none;
}

button:hover{
  cursor: pointer;
}

// form{
//   position: relative;
//   max-width: 500px;
//   width: 50%;
//   min-width: 300px;
//   .form-text{
//     margin: 0 30px 0 0;
//   }
//   .control{
//     margin: 30px 0 0 0;
//     &:first-child{
//       margin-top: 0;
//     }
//   }
// }


header{
  background-color: $white-bis;
  height: 3em;
}
section{
  position: relative;
  width: 100%;
  // height: calc(100% - 3em);
  height: 100%;
  padding: 5px;
  background-color: $white-bis;
  // Centrer horizontal vertical
  // .section-container{
  //   display: -webkit-flex;
  //   display: -ms-flex;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   height: 100%;
  //   border-radius: 5px;
  //   background-color: $white;
  // }
  //Centrer horizontal
  .section-container{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    background-color: $white;
    height: 100%;
    padding-top: 2em;
    width: 100%;
  }
  .section-contaier-center{
    min-width: 250px;
  }

  .relate-tags{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 2px 0 25px 0;
    height: 30px;
    .date{
      display: inline-block;
      font-size: 0.7em;
      padding: 2px 10px;
      background-color: $white-ter;
      color: $grey;
      border-radius: 10px;
      height: 19px;
      text-align: center;
      white-space: nowrap;
    }
    .main-tag{
      display: inline-block;
      margin: 0;
    }
  }
}

.goBack{
  width: 50px;
}

.myAnimationRight-add {
   -webkit-animation: fadeInRight 0.3s;
   animation: fadeInRight 0.3s;
   animation-name: fadeInRight;
}

// .myAnimationRight-remove {
//    -webkit-animation: fadeInLeft 0.3s;
//    animation: fadeInLeft 0.3s;
//    animation-name: fadeInLeft;
// }

.myAnimationLeft-add {
   -webkit-animation: fadeInLeft 0.3s;
   animation: fadeInLeft 0.3s;
   animation-name: fadeInLeft;
}
//
// .myAnimationLeft-remove {
//    -webkit-animation: fadeInRigth 0.3s;
//    animation: fadeInRigth 0.3s;
//    animation-name: fadeInRigth;
// }

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
