@media only screen and (max-width: 768px){
  // HEADER LAYOUT
  header .navbar-menu.end button.navbar-button{
    background-color: $primary;
    color: $white;
    &:hover{
      background-color: none;
    }
  }

  aside.main-navigation{
    width: $menu-width-mobile;
  }

  // .router-view{
  //   position: absolute;
  //   top: $navbar-height;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   transition-duration: 0.3s;
  //   z-index: 1;
  // }
}
