.svg-button{
  position: absolute;
  top: 50%;
  left: 0;
  width: 50px;
  height: 50px;
  display: block;
  transform: translateY(-50%);
  border-radius: 5px;
}

.svg-button a button {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 0;
}

svg{
  display: block;
  margin: 0 auto;
  height: 25px;
  width: 25px;
  fill: #000;
}

header .logo{
  position: absolute;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

button{
  background: transparent;
  border: none;
}

button:focus{
  outline: none;
}

button:hover{
  cursor: pointer;
}

/**
 * MAIN NAVIGATION
 */

 aside{

 }

.main-navigation nav, ul{
  position: relative;
  width: 100%;
  // height: 100%;
  display: block;
}

aside.main-navigation ul{
  position: relative;
  // top: $navbar-item-height;
  // padding-top: 20px;
  margin-top: 2px;
}

.main-navigation li{
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 60px;
  transition-duration: 0.3s;
  background-color: $white;
  &.active a{
    background-color: $primary;
    color: $white;
  }
  button{
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    color: $white;
    width: 20%;
  }
}

.main-navigation nav ul li a{
  width: 100%;
  display: block;
  margin: 2px auto;
  padding: 20px 0 20px 20px;
  background-color: $white;
  text-align: left;
  letter-spacing: 1px;
  border-radius: 3px;
}

.navbar-menu{
  height: $navbar-height;
}

// aside.main-navigation.click li.active{
//   transform: translateX(0);
// }

aside.main-navigation li.active{
  transition-duration: 0.3s;
  // transform: translateX($menu-width);
}

aside.main-navigation ul li.active.homeLinkHidden{
  transform: translateX(0);
}

aside.main-navigation.click ul li button {
  display: none;
}

aside.main-navigation ul li button {
  display: block;
}
