@media only screen and (min-width: 769px){

header .svg-button{
  display: none;
}

.main-navigation li {
  // position: absolute;
  // top: 0;
  // left: 0;
  // transition-duration: 0.3s;
  &.active a button.nav-button{
    &:hover{
      color: $white;
      background-color: darken($primary, 2%);
      transition-duration: 0.3s;
    }
  }

  & a button.nav-button{
    &:hover{
      color: $primary;
      transition-duration: 0.3s;
    }
  }

  button.nav-close{
    display: none;
  }
}

// .main-navigation li:nth-child(1) {
//   top: 0;
// }
//
// .main-navigation li:nth-child(2) {
//   top: calc(#{$navbar-item-height} * 1);
// }
//
// .main-navigation li:nth-child(3) {
//   top: calc(#{$navbar-item-height} * 2);
// }
//
// .main-navigation li:nth-child(4) {
//   top: calc(#{$navbar-item-height} * 3);
// }
//
// .main-navigation li:nth-child(5) {
//   top: calc(#{$navbar-item-height} * 4);
// }
//
//



















}
