.main-tag{
  margin: 2% 2% 0 2%;
}

.main-tag .tags{
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.main-tag .tags::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

@media only screen and(max-width: 768px){
  .main-tag {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  .main-tag .tags{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    align-items: center;
  }
  .main-tag .tag {
    display: inline-block;
    margin-bottom: 0;
  }
}

.field-tag{
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.field-tag .tags{
  color: $grey-lighter;
  font-weight: 600;
  &:before{
    content: '#';
  }
}
