.main-tag{
  margin: 2% 2% 0 2%;
}

.main-tag .src{
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.main-tag .tags::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

@media only screen and(max-width: 768px){
  .main-tag {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  .main-tag .tags{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    align-items: center;
  }
  .main-tag .tag {
    display: inline-block;
    margin-bottom: 0;
  }
}

input[type=checkbox]{
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  padding: 10px;
  box-shadow: none;
}

.field-tags{
  display: inline-block;
  color: $grey-lighter;
  font-weight: 600;
  margin: 0 3px 0 6px;
}

.field-tags .label{
  position: relative;
  top: 2px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.label__checkbox {
  display: none;
}

.label__text, .label__icon{
  display: inline-block;
}

.label__text{
  position: relative;
  top: 1px;
  margin-left: 5px;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 1px;
}

.label__check {
  display: inline-block;
  border-radius: 2px;
  border: 2px solid rgba(0,0,0,0.1);
  background: $white;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border .3s ease;

  i.icon {
    position: relative;
    top: 1px;
    opacity: 0.2;
    font-size: 10px  ;
    transition: opacity .3s .1s ease;
    color: transparent;
  }

  &:hover {
    border: 2px solid rgba(0,0,0,0.2);
  }
}

.label__checkbox:checked + .label__icon .label__check {
  animation: check .5s cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;

  .icon {
    font-size: 0.6em;
    opacity: 1;
    transform: scale(0);
    color: $white;
    -webkit-text-stroke: 0;
    animation: icon .2s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
  }
}

@keyframes icon {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes check {
  0% {
    width: 0.8em;
    height: 0.8em;
    border-width: 5px;
  }
  10% {
    width: 0.8em;
    height: 0.8em;
    opacity: 0.1;
    background: rgba(0,0,0,0.2);
    border-width: 15px;
  }
  12% {
    width: 0.8em;
    height: 0.8em;
    opacity: 0.4;
    background: rgba(0,0,0,0.1);
    border-width: 0;
  }
  50% {
    width: 1em;
    height: 1em;
    background: $primary;
    border: 0;
    opacity: 0.6;
  }
  100% {
    width: 1em;
    height: 1em;
    background: $primary;
    border: 0;
    opacity: 1;
  }
}

.addTag-button{
  position: relative;
  svg{
    width: 20px;
  }
  span{
    display: inline;
    position: relative;
    top: -5px;
    font-weight: 600;
    font-size: 1.2em;
  }
}

.tag-edit{
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
