section.view{
  padding: 0;
  height: 100%;
  article{
    line-height: 1.2em;
    padding: 0 5px;
    h2{
      display: inline;
      font-weight: 600;
      font-size: 1.05em;
      margin-right: 15px;
    }
    p{
      display: inline-block;
      font-size: 1rem;
      color: $grey-dark;
    }
  }
  .relate-tags{
    overflow: hidden;
    .date{
      position: relative;
      top: 6px;
    }

    .label__text{
      padding: 0 5px;
    }
  }

}

section.create{
  // input, textarea{
  //   background-color: inherit;
  //   border: none;
  //   box-shadow: none;
  // }
  // ::-webkit-input-placeholder {
  //   color: $grey-darker;
  // }
  // ::-moz-placeholder {
  //   color: $grey-darker;
  // }
  // :-ms-input-placeholder {
  //   color: $grey-darker;
  // }
  // :-moz-placeholder {
  //   color: $grey-darker;
  // }
}
