* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: #FFF;
  margin: 0;
  background-size: 100% auto;
  display: grid;
  /*grid-gap: 10px;*/
  grid-template-areas: 
    "aside"
    "router-views";
  overflow: hidden;
  color: #37474F;
}

aside{
  grid-area: aside;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1D1F33;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  margin-top: 65px;
}

header{
  /*position: fixed;
  top: 0;
  left: 0;
  right: 0;*/
  position: relative;
  display: block;
  height: 65px;
  width: 100%;
  overflow: hidden;
  background-color: #FFF;
  z-index: 2;
}

.router-views{
  position: relative;
  z-index: 1;
  background-color: #FFEBEE;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

ul, li {
  margin: 0;
  padding: 0;
}

button{
  background: transparent;
  border: none;
}

button:focus{
  outline: none;
}

button:hover{
  cursor: pointer;
}

a{
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  color: #FFFFFF;
  text-decoration: none;
}

.svg-button{
  position: absolute;
  top: 50%;
  left: 0;
  width: 50px;
  height: 50px;
  display: block;
  transform: translateY(-50%);
  border-radius: 5px;
}

.svg-button a button {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 0;  
}

svg{
  display: block;
  margin: 0 auto;
  height: 25px;
  width: 25px;
  fill: #F193BD;
}

/*---- Action ----*/
/* menu click */

aside.click{
  transform: translateX(0);
}

aside{
  transform: translateX(-100%);
}

/* Menu */

nav, ul{
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

li{
  display: block;
  width: 100%;
  height: 60px;
}

nav ul li a{
  display: block;
  margin: 2px auto;
  width: 100%;
  padding: 20px 0 20px 20px;
  background-color: #2B2D45;
  text-align: left;
  letter-spacing: 1px;

}













