.fa-envelope{
  &:before{
    content: '\ea85';
    font-family: 'icomoon';
    font-size: 1em;
  }
}

.fa-user{
  &:before{
    content: '\e971';
    font-family: 'icomoon';
    font-size: 1em;
  }
}

.fa-check{
  &:before{
    content: '\ea10';
    font-family: 'icomoon';
    font-size: 1em;
  }
}
